<mat-toolbar class="header mat-elevation-z4">
  <ul>
    <li>
      <a routerLink="/home">
        <img src="assets/images/zoology.svg" class="logo" alt="logo" />
      </a>
      <span>Intergados</span>
    </li>
    <li>
      <a
        class="header__link"
        mat-button
        routerLink="/home"
        routerLinkActive="active"
        >Inicio</a
      >
    </li>
    <li>
      <a
        class="header__link"
        mat-button
        routerLink="/about"
        routerLinkActive="active"
        >Sobre</a
      >
    </li>
  </ul>

  <!-- <mat-menu #cadastros="matMenu">
    <a mat-menu-item routerLink="/cadastros/categoria" routerLinkActive="active"
      >Caterorias</a
    >
    <a mat-menu-item routerLink="/cadastros/produtos" routerLinkActive="active"
      >Produtos</a
    >
    <a
      mat-menu-item
      routerLink="/cadastros/formaspagamento"
      routerLinkActive="active"
      >Formas de Pagamento</a
    >
  </mat-menu> -->
</mat-toolbar>
